/backend/vendor/
/backend/.env
/frontend/node_modules/
/frontend/.env
/frontend/dist/
/backend/bootstrap/cache/*.php
/backend/storage/framework/cache/data/*
/backend/storage/framework/sessions/*
/backend/storage/framework/views/*.php
/backend/storage/logs/*.log/frontend/.next/
